* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
  background-color: white;
}

/* header styles */

.navbar-custom .nav-link {
  color: white;
  font-weight: 400;
}

.navbar-custom .btn-custom {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 13px;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding-inline: 20px;
  padding-block: 10px;
  text-transform: uppercase;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  background: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}

.navbar-toggler i {
  color: white;
  font-size: 24px;
}

.hero {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 95vh;
  position: relative;
}
.arrow-down {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.main-heading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: white;
  font-size: 45px;
  letter-spacing: 5px;
  text-align: center;
}

/* 
responsive styles */

@media (max-width: 1024px) {
  .main-heading {
    font-size: 60px;
  }

  .arrow-down {
    top: 53%;
    bottom: 0;
  }
  .arrow-down img {
    height: 170px;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 45px;
  }

  .arrow-down {
    top: 53%;
    bottom: 0;
  }

  .arrow-down img {
    height: 125px;
  }
}

@media (max-width: 425px) {
  .hero {
    background-image: url("../images/mobile/image-header.jpg");
  }

  .main-heading {
    font-size: 50px;
  }
  .arrow-down {
    top: 59%;
    bottom: 0;
  }

  .arrow-down img {
    height: 140px;
  }
}

@media (max-width: 375px) {
  .main-heading {
    font-size: 45px;
  }
}

@media (max-width: 320px) {
  .main-heading {
    font-size: 40px;
  }
}
